<h1>Environmental Chamber Data</h1>
<%= javascript_include_tag "//www.google.com/jsapi" %>

<% today = Time.current.to_date %>

<%= line_chart @thing_data_short.
  group_by_minute('env_data.created_at', series: false, format: "%F %R %z").
  average(:temp_f),
  library: {
    title: 'Temperature',
    vAxis: {
      title: '°F',
      gridlines: {count: 12}
    },
    hAxis: {
      title: "#{today.strftime("%A %F")}",
      slantedText: true,
      gridlines: {count: 24}
    },
  },
  min: 65,
  max: 77,
  adapter: "google" %>

<%= line_chart @thing_data_short.
  group_by_minute('env_data.created_at', series: false, format: "%F %R %z").
  average(:humidity),
  library: {
    title: 'Humidity',
    vAxis: {
      title: "Percent (%)",
      gridlines: {count: 12}
    },
    hAxis: {
      title: "#{today.strftime("%A %F")}",
      slantedText: true,
      gridlines: {count: 24}
    },
  }, adapter: "google" %>

<%= line_chart @thing_data_long.
  group_by_minute('env_data.created_at', series: false, format: "%F %R %z").
  average(:temp_f),
  library: {
    title: 'Temperature',
    vAxis: {
      title: '°F',
      gridlines: {count: 12}
    },
    hAxis: {
      title: "#{(today - 1.day).strftime("%A %F")} to #{today.strftime("%A %F")}",
      slantedText: true,
      gridlines: {count: 24}
    },
  },
  min: 65,
  max: 77, adapter: "google" %>

<%= line_chart @thing_data_long.
  group_by_minute('env_data.created_at', series: false, format: "%F %R %z").
  average(:humidity),
  library: {
    title: 'Humidity',
    vAxis: {
      title: "Percent (%)",
      gridlines: {count: 12}
    },
    hAxis: {
      title: "#{(today - 1.day).strftime("%A %F")} to #{today.strftime("%A %F")}",
      slantedText: true,
      gridlines: {count: 24}
    },
  }, adapter: "google" %>

<%= line_chart @thing_data_vlong.
  group_by_hour('env_data.created_at', series: false, format: "%F %R %z").
  average(:temp_f),
  library: {
    title: 'Temperature',
    vAxis: {
      title: '°F',
      gridlines: {count: 12}
    },
    hAxis: {
      title: "#{(today - 2.weeks).strftime("%A %F")} to #{today.strftime("%A %F")}",
      slantedText: true,
      gridlines: {count: 24}
    },
  },
  min: 65,
  max: 77, adapter: "google" %>

<%= line_chart @thing_data_vlong.
  group_by_hour('env_data.created_at', series: false, format: "%F %R %z").
  average(:humidity),
  library: {
    title: 'Humidity',
    vAxis: {
      title: "Percent (%)",
      gridlines: {count: 12}
    },
    hAxis: {
      title: "#{(today - 2.weeks).strftime("%A %F")} to #{today.strftime("%A %F")}",
      slantedText: true,
      gridlines: {count: 24}
    },
  }, adapter: "google" %>

<p>EnvData count: <%= @data_count %></p>

<%= yield :charts_js %>
